.cards {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.card {
    flex: 1 1 22%;
    margin: 5px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    text-align: justify;
}